<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <%= form_with(model: note) do |form| %>
        <% if note.errors.any? %>
          <div style="color: red">
            <h2><%= note.errors.count %> 件のエラーにより、ノートを保存できませんでした</h2>

            <ul>
              <% note.errors.each do |error| %>
                <li><%= error.message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div>
          <%= form.label :title, "タイトル", style: "display: block" %>
          <%= form.text_field :title %>
        </div>

        <div>
          <%= form.label :body, "本文", style: "display: block" %>
          <%= form.text_area :body, class: "form-control", rows: 5 %>
        </div>

        <div>
          <%= form.label :note_image, "完成写真" %><br>
          <%= form.file_field :note_image, class: "form-control", accept: 'image/*' %>
          <%= form.hidden_field :note_image_cache %>
        </div>

        <div>
          <%= form.submit "ノートを作成", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>