<div class="bg-white shadow-md rounded-lg overflow-hidden mb-4">
  <div id="note-id-<%= note.id %>">
    <%= link_to image_tag note.note_image_url, class: "w-full h-48 object-cover" %>
    
  <div class="p-4">
    <div class="flex justify-between items-center mb-2">
      <h4 class="text-lg font-bold">
        <%= link_to note.title, note %>
      </h4>
      <span class="text-sm text-gray-500">
        <i class="bi bi-calendar"></i>
        <%= l note.created_at, format: :short %>
      </span>
    </div>

    <div class="flex justify-end mt-4 space-x-2">
      <%= link_to edit_note_path(note), class: "text-blue-600 hover:text-blue-800" do %>
        <i class="bi bi-pencil-fill"></i>
      <% end %>
      <%= link_to '#', method: :delete, data: {confirm: ''}, class: "text-red-600 hover:text-red-800" do %>
        <i class="bi bi-trash-fill"></i>
      <% end %>
      </div>
    </div>
  </div>
</div>