<p style="color: green"><%= notice %></p>

<%= render @note %>

<div>
  <%= link_to "編集する", edit_note_path(@note) %> |
  <%= link_to "一覧へ戻る", notes_path %>

  <%= button_to "削除", @note, method: :delete %>
</div>
