<div class="max-w-md mx-auto px-4 py-8">
  <h1 class="text-2xl font-bold text-center mb-6">ログイン</h1>

  <%= form_with model: resource, url: session_path(resource_name), local: true do |f| %>
    <% if flash[:alert] %>
      <div class="mb-6 p-4 bg-red-100 border border-red-400 text-red-700 rounded">
        <h3 class="font-bold mb-2">エラー：</h3>
        <p class="text-sm"><%= flash[:alert] %></p>
      </div>
    <% end %>

    <div class="mb-4">
      <%= f.label :email, "メールアドレス", class: "block text-gray-700 font-semibold mb-1" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email",
            class: "w-full border rounded px-3 py-2 focus:outline-none focus:ring focus:border-blue-300" %>
    </div>

    <!-- パスワード -->
    <div class="mb-4">
      <%= f.label :password, "パスワード", class: "block text-gray-700 font-semibold mb-1" %>
      <%= f.password_field :password, autocomplete: "current-password",
            class: "w-full border rounded px-3 py-2 focus:outline-none focus:ring focus:border-blue-300" %>
    </div>

    <!-- ログイン状態保持 -->
    <div class="flex items-center justify-between mb-6">
      <% if devise_mapping.rememberable? %>
        <div class="justify-items-end flex items-center">
          <%= f.check_box :remember_me, id: "remember_me", class: "mr-2" %>
          <%= f.label :remember_me, "ログイン状態を保持する", class: "text-sm text-gray-700" %>
        </div>
      <% end %>

      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <%= link_to "パスワードを忘れた場合はこちら", new_password_path(resource_name), class: "justify-items-end text-sm text-gray-700" %>
      <% end %>
    </div>

    <!-- ログインボタン -->
    <div class="text-center mb-6">
      <%= f.submit "ログイン", class: "w-full bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded shadow" %>
    </div>

    <div class="divider text-xs">または</div>

    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
      <%= link_to new_registration_path(resource_name), 
          class: "w-full bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 mb-2 rounded shadow block text-center" do %>
          <span class="whitespace-nowrap">新規登録はこちら</span>
      <% end %>
    <% end %>
  <% end %>

  <%- if devise_mapping.omniauthable? %>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%= button_to omniauth_authorize_path(resource_name, provider), 
          method: :post, data: { turbo: false },
          class: "w-full mb-2 flex items-center justify-center bg-white border border-gray-300 text-gray-700 font-medium py-2 px-4 rounded hover:bg-gray-100 shadow" do %>
        <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">>
          <path fill="#EA4335" d="M24 9.5c3.54 0 6.72 1.22 9.21 3.61l6.85-6.85C35.9 2.38 30.47 0 24 0 14.64 0 6.55 5.42 2.55 13.33l7.98 6.19C12.39 13.57 17.74 9.5 24 9.5z"/>
          <path fill="#4285F4" d="M46.1 24.5c0-1.64-.15-3.21-.43-4.74H24v9h12.45c-.54 2.96-2.18 5.46-4.65 7.14l7.23 5.62c4.22-3.89 7.07-9.63 7.07-16.02z"/>
          <path fill="#FBBC05" d="M10.53 28.52c-1.05-3.06-1.05-6.44 0-9.5l-7.98-6.19C.92 17.84 0 20.82 0 24c0 3.18.92 6.16 2.55 8.67l7.98-6.15z"/>
          <path fill="#34A853" d="M24 48c6.48 0 11.92-2.13 15.89-5.79l-7.23-5.62c-2 1.35-4.6 2.15-8.66 2.15-6.26 0-11.61-4.07-13.47-9.52l-7.98 6.15C6.55 42.58 14.64 48 24 48z"/>
        </svg>
        <span class="whitespace-nowrap">Googleでログイン</span>
      <% end %>
    <% end %>
  <% end %>
</div>
