<!DOCTYPE html>
<html>
  <head>
    <!-- レスポンシブ対応 -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <title>見習いノート</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <!-- Bootstrap Icons CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

  </head>
  <body>
    <%= render 'shared/header' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%# ナビゲーションバー %>
    <%= render 'shared/menu' %>
  </body>
</html>